@use 'base' as *;
.media-slider {
  position: relative;
  .media-slider__inner {
    width: 100%;
  }
}

/* Variant hooks use view mode names */
.media-slider--main-100-16x9 {
}
.media-slider--main-100-21x9 {
}
