/* Restored default styles for media_text component. */
.block-type--media_text .block-wrap { display: grid; gap: 1.2em; }
.block-type--media_text .title h3 { color: #635d59; font-weight: 700; }
.block-type--media_text.block-view-mode--split_left .block-wrap,
.block-type--media_text.block-view-mode--split_right .block-wrap { grid-template-columns: 1fr 1fr; }
