@use '../base' as *;

/* Superfish theme variables aligned with the nav defaults/main styles. */
$sf-top-border-radius: $link-radius !default;
$sf-top-bg: rgba($site-bgcolor, 0.45) !default;
$sf-top-hover-bg: rgba($site-bgcolor, 0.75) !default;
$sf-top-active-bg: rgba($site-bgcolor, 0.85) !default;
$sf-top-border: $link-border !default;
$sf-top-font-size-mobile: $m-link-size * 1.2 !default;
$sf-top-font-size-desktop: $d-link-size !default;
$sf-top-color: $color-text !default;
$sf-top-hover-color: $text-bright !default;
$sf-top-active-color: $text-bright !default;

$sf-sub-border-radius: 0 !default;
$sf-sub-bg: rgba($site-bgcolor, 0.65) !default;
$sf-sub-hover-bg: shade($sf-sub-bg, 5%) !default;
$sf-sub-active-bg: shade($sf-sub-bg, 10%) !default;
$sf-sub-border: $stroke-1 solid rgba($brand-primary, 0.35) !default;
$sf-sub-hover-border: $stroke-1 solid rgba($brand-primary, 0.5) !default;
$sf-sub-active-border: $stroke-1 solid rgba($brand-primary, 0.75) !default;
$sf-sub-font-size: $m-link-size * 0.9 !default;
$sf-sub-color: $color-text !default;
$sf-sub-hover-color: $text-bright !default;
$sf-sub-active-color: $text-bright !default;

$sf-gap: 0 !default;
$sf-pad-left: $link-pad-left !default;
$sf-pad-right: $link-pad-right !default;
$sf-caret-pad: 0.75em !default;
$sf-link-height: $link-height !default;
$sf-submenu-min-width: 16em !default;
$sf-submenu-offset-y: 0 !default;
$sf-flyout-offset-y: 0.15em !default;
$sf-submenu-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25) !default;

/* General resets & layout for the Superfish menu. */
ul.sf-menu.sf-style-dg,
ul.sf-menu.sf-style-dg * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.superfish-processed ul.sf-menu.sf-style-dg,
ul.sf-menu.sf-style-dg {
  display: flex;
  flex-wrap: wrap;
  gap: $sf-gap;
  position: relative;
  z-index: 2;
}

.sf-menu.sf-style-dg li {
  float: none !important;
}

ul.sf-menu.sf-style-dg > li {
  position: relative;
  margin: 0 0.5em;

  &:first-child {
    margin-left: 0;
  }
}

ul.sf-menu.sf-style-dg.sf-navbar {
  width: 100%;
}

ul.sf-menu.sf-style-dg .sf-sub-indicator {
  display: none;
}

/* Top-level links mirror the nav defaults main menu styling. */
ul.sf-menu.sf-style-dg > li > a,
ul.sf-menu.sf-style-dg > li > a:visited,
ul.sf-menu.sf-style-dg > li > span.nolink {
  @include bodytext;
  & {
    display: block;
    line-height: $link-height * 0.9;
    font-size: $sf-top-font-size-mobile;
    padding: 0 $sf-pad-right 0 $sf-pad-left;
    color: $sf-top-color;
    background-color: $sf-top-bg;
    border: $sf-top-border;
    border-radius: $sf-top-border-radius;
    text-decoration: none;
    box-sizing: border-box;
    @include desktop-small {
      font-size: $sf-top-font-size-desktop;
    }
  }
}

ul.sf-menu.sf-style-dg > li > a.sf-with-ul,
ul.sf-menu.sf-style-dg > li > span.nolink.sf-with-ul {
  padding-right: calc(#{$sf-pad-right} + #{$sf-caret-pad});
}

ul.sf-menu.sf-style-dg > li > a:hover,
ul.sf-menu.sf-style-dg > li > a:focus,
ul.sf-menu.sf-style-dg > li.sfHover > a,
ul.sf-menu.sf-style-dg > li.sfHover > a:visited {
  color: $sf-top-hover-color;
  background-color: $sf-top-hover-bg;
  border: $sf-top-border;
}

ul.sf-menu.sf-style-dg > li > a:active,
ul.sf-menu.sf-style-dg > li > a.is-active {
  color: $sf-top-active-color;
  background-color: $sf-top-active-bg;
  border: $sf-top-border;
}

/* Submenu container */
ul.sf-menu.sf-style-dg ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  min-width: $sf-submenu-min-width;
  display: none;
  background-color: $sf-sub-bg;
  border: $sf-sub-border;
  border-radius: $sf-sub-border-radius;
  box-shadow: $sf-submenu-shadow;
}

ul.sf-menu.sf-style-dg > li > ul {
  top: calc(100% + #{$sf-submenu-offset-y});
}

/* Sub-level links keep small font size but mirror the same palette. */
ul.sf-menu.sf-style-dg li li > a,
ul.sf-menu.sf-style-dg li li > a:visited,
ul.sf-menu.sf-style-dg li li > span.nolink {
  display: block;
  line-height: $sf-link-height;
  font-size: $sf-sub-font-size;
  padding: 0 $sf-pad-right 0 $sf-pad-left;
  box-sizing: border-box;
  color: $sf-sub-color;
  background-color: $sf-sub-bg;
  border-left: 0;
  border-right: 0;
  border-bottom: $sf-sub-border;
  border-radius: $sf-sub-border-radius;
  text-decoration: none;
}

ul.sf-menu.sf-style-dg li li:last-child > a,
ul.sf-menu.sf-style-dg li li:last-child > span.nolink {
  border-bottom: 0;
}

ul.sf-menu.sf-style-dg li li > a.sf-with-ul,
ul.sf-menu.sf-style-dg li li > span.nolink.sf-with-ul {
  padding-right: calc(#{$sf-pad-right} + #{$sf-caret-pad});
}

ul.sf-menu.sf-style-dg li li > a:hover,
ul.sf-menu.sf-style-dg li li > span.nolink:hover,
ul.sf-menu.sf-style-dg li li > a:focus {
  color: $sf-sub-hover-color;
  background-color: $sf-sub-hover-bg;
  border-bottom: $sf-sub-hover-border;
}

ul.sf-menu.sf-style-dg li li > a:active,
ul.sf-menu.sf-style-dg li li > span.nolink:active {
  color: $sf-sub-active-color;
  background-color: $sf-sub-active-bg;
  border-bottom: $sf-sub-active-border;
}

ul.sf-menu.sf-style-dg li:hover > ul,
ul.sf-menu.sf-style-dg li.sfHover > ul {
  display: block;
}

/* Flyout positioning for deeper levels */
ul.sf-menu.sf-style-dg li li ul {
  top: $sf-flyout-offset-y;
  left: 100%;
}

ul.sf-menu.sf-style-dg.rtl li li ul {
  left: auto;
  right: 100%;
}

ul.sf-menu.sf-style-dg.rtl > li > a.sf-with-ul,
ul.sf-menu.sf-style-dg.rtl > li > span.nolink.sf-with-ul,
ul.sf-menu.sf-style-dg.rtl li li > a.sf-with-ul,
ul.sf-menu.sf-style-dg.rtl li li > span.nolink.sf-with-ul {
  padding-left: calc(#{$sf-pad-left} + #{$sf-caret-pad});
}

/* Caret indicator for expandable items (pure CSS). */
ul.sf-menu.sf-style-dg a.sf-with-ul::after,
ul.sf-menu.sf-style-dg span.nolink.sf-with-ul::after {
  content: '▾';
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.8em;
  line-height: 1;
}

ul.sf-menu.sf-style-dg li li > a.sf-with-ul::after,
ul.sf-menu.sf-style-dg li li > span.nolink.sf-with-ul::after {
  content: '▸';
}

ul.sf-menu.sf-style-dg.rtl li li > a.sf-with-ul::after,
ul.sf-menu.sf-style-dg.rtl li li > span.nolink.sf-with-ul::after {
  content: '▾';
}

/* Accordion helper (retained from previous version). */
div.sf-accordion-toggle.sf-style-dg a {
  background: #210c02;
  border: 1px solid #381301;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em 1em 1em;
  position: relative;
}

div.sf-accordion-toggle.sf-style-dg > a:after {
  content: '≡';
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  speak: none;
}

div.sf-accordion-toggle.sf-style-dg a.sf-expanded,
ul.sf-menu.sf-style-dg.sf-accordion li.sf-expanded {
  background: #52250f;
}

div.sf-accordion-toggle.sf-style-dg a.sf-expanded,
ul.sf-menu.sf-style-dg.sf-accordion li.sf-expanded > a,
ul.sf-menu.sf-style-dg.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}

ul.sf-menu.sf-style-dg.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

ul.sf-menu.sf-style-dg.sf-accordion li li a,
ul.sf-menu.sf-style-dg.sf-accordion li li span.nolink {
  padding-left: 2em;
}

ul.sf-menu.sf-style-dg.sf-accordion li li li a,
ul.sf-menu.sf-style-dg.sf-accordion li li li span.nolink {
  padding-left: 3em;
}

ul.sf-menu.sf-style-dg.sf-accordion li li li li a,
ul.sf-menu.sf-style-dg.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}

ul.sf-menu.sf-style-dg.sf-accordion li li li li li a,
ul.sf-menu.sf-style-dg.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}

ul.sf-menu.sf-style-dg.rtl.sf-accordion li li a,
ul.sf-menu.sf-style-dg.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}

ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li a,
ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}

ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li li a,
ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}

ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li li li a,
ul.sf-menu.sf-style-dg.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
