@use 'base' as *;
/* Hero Headline minimal styles (extend as needed) */

.block-type--hero_headline.block-view-mode--compact .content .text {
  font-size: $font-size-body * 0.85;
}

.block-type--hero_headline.block-view-mode--default {
  /* nested */

  .block-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12em 10em auto;
    grid-template-areas:
      'image'
      'title'
      'content'
      'cta';
    text-align: center;
    /* block wrap sets the display type */

    // & > * {
    //   border: 1px solid blue;
    // }
    .content {
      grid-area: content;
      display: flex;
      align-items: top;
      justify-content: center;
      .text {
        @include bodytext;
        color: $color-text;
        padding-top: 2em;
        padding-bottom: 2em;
        p {
          margin-bottom: 0;
        }
      }
    }

    .image {
      grid-area: image;
      display: flex;
      align-items: end;
      justify-content: center;
      .media {
        width: 10em;
        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          path {
            fill: rgba($color-text, 0.5);
            opacity: 1;
          }
        }
      }
    }

    .title {
      grid-area: title;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5em;
      margin-right: 5em;
      border-bottom: $stroke-1 solid rgba($brand-primary, 1);

      h2 {
        color: $color-1;
      }
      h3 {
        color: $brand-primary;
        @include headingtext;
        font-size: $font-size-h3 * 1.5;
        letter-spacing: -0.03em;
        margin-bottom: 0;
      }
    }

    .cta .field__items > .field__item a,
    .cta .field__items > .field__item a:visited {
      background-color: rgba($color-2, 1);
      color: $white;
    }

    /* /nested */
  }
}
.block-type--hero_headline.block-view-mode--default.reverse-1 {
  background-color: $color-1;
  /* nested */

  .block-wrap {
  }

  .image svg path {
    fill: $white;
    opacity: 1;
  }

  h2 {
    color: $white;
  }

  .text * {
    color: $white;
  }

  /* /reverse nested */
}
