<div class="media-slider media-slider--main-100-16x9">
  {% if props.has_label %}
    <div class="media-slider__label">{{ props.label }}</div>
  {% endif %}
  <div class="media-slider__inner">
    {{ props.media }}
  </div>
</div>
