/**
 * @file
 * Visual styles for buttons.
 */
@use '../base' as *;

/* Core button controls */
button,
.button a,
input.button,
a.button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $button-pad;
  min-height: $button-height;
  font-size: $button-size;
  line-height: 1;
  white-space: nowrap;
  color: $button-color;
  background: $button-bgcolor;
  border: $button-border;

  &:link,
  &:visited {
    text-decoration: none;
    color: $button-color;
    background: $button-bgcolor;
    border: $button-border;
  }

  &:hover,
  &:focus {
    color: $button-hover-color;
    background-color: $button-hover-bgcolor;
    border: $button-hover-border;
    outline: $stroke-1 solid rgba($white, 0.8);
    outline-offset: 0.01em;
  }

  &:active {
    transform: scale(0.97);
    color: $button-click-color;
    background-color: $button-click-bgcolor;
    border: $button-click-border;
  }

  &:last-child { margin-right: 0; }
}

/* Legacy utility spacing for theme buttons */
.button,
.image-button { margin-right: 1em; margin-left: 1em; }
.button:first-child,
.image-button:first-child { margin-right: 0; margin-left: 0; }
