<div class="image-slider image-slider--main-100-21x9">
  {% if props.has_label %}
    <div class="image-slider__label">{{ props.label }}</div>
  {% endif %}
  <div class="image-slider__inner">
    {{ props.images }}
  </div>
</div>

