/* Restored default styles for quote_feature component. */
.block-type--quote_feature blockquote { color: #635d59; font-style: italic; }
.block-type--quote_feature .title h3 { color: #635d59; font-weight: 700; }
