@use '../base' as *;

/* style blocks inside the content region */
.layout__region--content .block,
.region--content .block {
  margin-bottom: $siteg * 4;
  /* nested */
  > *:last-child {
    margin-bottom: 0 !important;
  }
  /* /nested */
}

/* block box-1 */
/* box styles include border background and padding */
.box-1 {
  @include block-pop;
  padding: 1.5em;
  border-radius: 0;
  border: $stroke-1 solid rgba($gray, 0.35);
  background-color: rgba($site-bgcolor, 0.75);
  @include desktop-small {
    padding: 3em;
  }
  /* nested box-1 styles */

  h3,
  h3 a:link,
  h3 a:visited {
    color: rgba($color-1, 1);
  }

  &.stroke-1 {
    border-color: rgba($color-1, 1);
  }

  &.stroke-2 {
    border-color: rgba($color-1, 1);
  }

  &.stroke-3 {
    border-color: rgba($color-1, 1);
  }

  &.reverse-1 {
    border-color: rgba($color-1, 1) !important;
    background-color: rgba($color-1, 0.9);
    color: $white;
    &.linked {
      &:hover {
        /* style for linked blocks */
        border-color: rgba($color-2, 1);
      }
      &:active {
        border-color: rgba($color-3, 1);
        background-color: rgba($color-1, 1);
      }
    }

    h3,
    h3 a:link,
    h3 a:visited {
      color: rgba($white, 1);
    }

    button,
    .button {
      background-color: rgba($white, 1);
      color: rgba($color-1, 1);
    }

    /* /end box-1 reverse */
  }

  &.pars {
    /* a block with multiple paragraphs to take on the box-1 style */
    background-color: unset;
    padding: 0 !important;
    box-shadow: unset;
    border-radius: unset;
    border: 0 none;
  }

  &.pars .paragraph {
    background-color: rgba($site-bgcolor, 0.75);
    border: $stroke-1 solid rgba($gray, 0.35);
  }

  /* /end box-1 */
}

/* block box-2 */
/* box styles include border background and padding */
.box-2 {
  @include block-pop;
  padding: 1.5em;
  border-radius: 0;
  border: $stroke-1 solid rgba($gray, 0.35);
  background-color: rgba($site-bgcolor, 0.5);
  @include desktop-small {
    padding: 3em;
  }
  /* nested box-1 styles */

  h3,
  h3 a:link,
  h3 a:visited {
    color: rgba($color-1, 1);
  }

  &.stroke-1 {
    border-color: rgba($color-1, 1);
  }

  &.stroke-2 {
    border-color: rgba($color-1, 1);
  }

  &.stroke-3 {
    border-color: rgba($color-1, 1);
  }

  &.reverse-1 {
    border-color: rgba($color-1, 1) !important;
    background-color: rgba($color-1, 0.9);
    color: $white;
    &.linked {
      &:hover {
        /* style for linked blocks */
        border-color: rgba($color-2, 1);
      }
      &:active {
        border-color: rgba($color-3, 1);
        background-color: rgba($color-1, 1);
      }
    }

    h3,
    h3 a:link,
    h3 a:visited {
      color: rgba($white, 1);
    }

    button,
    .button {
      background-color: rgba($white, 1);
      color: rgba($color-1, 1);
    }

    /* /end box-2 reverse */
  }

  &.pars {
    /* a block with multiple paragraphs to take on the box-1 style */
    background-color: unset;
    padding: 0 !important;
    box-shadow: unset;
    border-radius: unset;
    border: 0 none;
  }

  &.pars .paragraph {
    background-color: rgba($site-bgcolor, 0.75);
    border: $stroke-1 solid rgba($gray, 0.35);
  }

  /* /end box-2 */
}
