@use 'base' as *;

.block-type--grid_topics.block-view-mode--full {
  .block-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: $siteg;

    @include desktop-small {
      grid-template-columns: repeat(2, 1fr);
    }

    .paragraph {
      display: grid;
      gap: $siteg;
      grid-template-columns: 3.5em auto;
      grid-template-rows: auto;
      grid-template-areas:
        'icon title'
        'text text';
      margin-bottom: 2em;
      @include desktop-small {
        grid-template-columns: 5em auto;
        grid-template-rows: 6em auto;
        grid-template-areas:
          'icon title'
          'text text';
      }
      .topic-icon {
        grid-area: icon;
        display: flex;
        justify-content: center;
        @include desktop-small {
          justify-content: center;
          align-items: center;
        }
        .media {
          max-height: 100%;
          .field__item {
            margin: 5px;
            // border: 1px solid red;
          }
          @include desktop-small {
            width: 80%;
          }
        }
        & img,
        & svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .topic-icon svg,
      .topic-icon svg * {
        fill: $brand-primary;
        stroke: $brand-primary;
      }
      .topic-title {
        grid-area: title;
        display: flex;
        align-items: center;
        h3 {
          @include headingtext;
          font-size: $font-size-h3;
          margin: 0;
        }
        @include desktop-small {
          align-items: center;
        }
      }
      .topic-text {
        grid-area: text;
        @include bodytext;
        font-size: $font-size-body;
        line-height: $line-height-body;
      }
    }
  }
}
